<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Liste des produits</h1>
    <table>
        <thead>
            <th>id</th>
            <th>title</th>
            <th>prix</th>
        </thead>
        <tbody>
            <%for(var i=0;i<products.length;i++){%>
                <tr>
                    <td><%=products[i].id%></td>
                    <td><%=products[i].title %></td>
                    <td><%=products[i].prix%></td>
                    <td><a href="/products/<%=products[i].id%>">
                        afficher detail
                    </a></td>
                    <td><a href="/products/<%=products[i].id%>/delete">
                        supprimer produit
                    </a></td>
                    <td><a href="/products/<%=products[i].id%>/edit">
                        editer produit
                    </a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>